* {

    box-sizing: border-box;
    margin: 0;
    outline: 1px solid red;
    padding:0;

}

body {

    background:coral;

}

.AppDos {

    align-items: center;
    background:coral;
    display: flex;
    flex-direction: column;
    gap: 1em;

    &__Contenedor {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 28vh;
        max-width: 860px;
        width: -webkit-fill-available;
        width: -moz-available;

        @media screen and (min-width:1024px) {

            &__Contenedor {

                flex-direction: row;
                max-height: 15vh;

            }

        }

    }

    &__Contenedor2 {
        @extend .AppDos__Contenedor;

        flex-direction: row;
        gap: 20px;
        justify-content: center;

    }

    &__CajaInt-imagen { /*estilo a la caja interna de la imagen*/

        background: #9250fd;
        height: 67px;
        max-width: 100vw;
        width: -webkit-fill-available;
        width: -moz-available;

    }

    &__CajaInt-imagen2 { /*estilo a la caja interna de la imagen*/

        @extend .AppDos__CajaInt-imagen;

        background: red;
        border-radius: 20px;

    }

    &__Caja2 { /*estilo a la caja interna de la imagen*/

        background: #50aafd;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        max-width: 430px;
        gap: 20px;
        width: -webkit-fill-available;
        width: -moz-available;


    }

    &__Caja3 { /*estilo a la caja interna de la imagen*/

        background: #78fd50;
        border-radius: 30px;
        height: 200px;
        margin-bottom: 1em;
        max-width: 430px;

    }

    &__Parrafo {

        max-width: 215px;
        text-align: center;

    }

}

.imagen1 { /*estilo a la imagen*/

    display:block;
    margin: 30px 0 0 20px;
    max-width: 300px; /*ancho maximo de la imagen de 500px*/
    width: 25%;

}

.menu { /*estilo a la caja interna del menu*/

    align-content: center;
    background: #daf798;
    display: flex;
    gap: 20px;
    height: 100%;
    max-width: 100vw;
    width: -moz-available;

}

ul {

    align-items: center;
    display: flex;
    gap: 3vw;
    height: 67px;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0 3vw;
    width: 100%;

}

li {

    height: auto;

}

a {

    color: rgb(134, 132, 132);
    display: inline-block;
    font-size: 20px;
    height: 100%;
    text-decoration: none;

}
