////
/// @author Schiller UX/UI Design Department
/// @since v3.1.0
/// @since Sep/2020
/// @group SETTINGS
////

/// This document contains the color palettes for dark mode in hsl format.
/// @group SETTINGS
/// @example
///
///   // We define a color value //
///
///   VariableName: (h, s, l);
///
///   // The result of this mixin will be: //
///
///   color: hsl(0, 0, 0);

$PalettesDark: (
    Diego: (
        Selected: (210, 100, 40),
        SelectedLight: (210, 81, 62),
        BodyText: (270, 2, 65),
        Interactions: (28, 100, 50),
        InteractionsLight: (40, 96, 62),
        Inactive: (0, 1, 44),
        SectionCards: (0, 0, 20),
        Labels: (223, 6, 75),
        Shadows: (227, 2, 22),
        Menu: (0, 0, 75),
        BodyBackground: (0, 0, 10),
        Error: (355, 85, 53),
        Alert: (46, 100, 50),
        Active: (120, 100, 35),
        Extra: (230, 11, 42),
        ExtraLight: (230, 17, 57),
        Extra2: (300, 3, 19),
        Glow: (120, 100, 93),
        GlowBlue: (210, 100, 92),
        Extra3: (268, 95, 38),
        Gradient: (0, 0, 93),
        Bubble: (185, 100, 37),
        Black: (0, 0, 100),
        White: (0, 0, 0),
        BlackAbsl: (0, 0, 0),
        WhiteAbsl: (0, 0, 100),
        WhiteSwitch: (0, 0, 0, .95)
    )
);
